body{
    margin:0;
    padding: 0;
}
.titlecont{
    background-color: #C8F1EC;
    margin-top: -10px;
    padding: 0.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    font-weight: bold;
}